@import "tailwindcss";

@theme {

    --animate-fade-in: fadeIn 0.25s ease;

}

@keyframes fadeIn {

    from {
        opacity: 0;
        transform: translateY(20px) scale(0.96);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}