# =========================
# Spring Boot
# =========================
**/target/

# =========================
# React / Node
# =========================
**/node_modules/
**/dist/

# =========================
# Python
# =========================
**/__pycache__/
*.pyc
.venv/
venv/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# AI Models
# =========================
emotion-service/aura-phobert-v1/
*.safetensors
*.bin
*.pt
*.pth
*.ckpt